<div id="root-container">
    <div id="content-container">
        <SidebarContainer
                :user="user"
        ></SidebarContainer>
        <div id="main-window-container">
            <HeaderContainer title="General chat room"></HeaderContainer>
            <DialogContainer
                    :currentUserId="currentUserId"
                    :usersRegistry="usersRegistry"
            ></DialogContainer>
        </div>
    </div>
    <InputContainer
            :currentUserId="currentUserId"
    ></InputContainer>
</div>