<div id="root-container">
    <div id="content-container">
        <!--<SidebarContainer-->
                <!--:user="user"-->
        <!--&gt;</SidebarContainer>-->
        <div id="main-window-container">
            <HeaderContainer :title="user.handler"></HeaderContainer>
            <DialogContainer
                    :currentUserId="currentUserId"
                    :usersRegistry="usersRegistry"
            ></DialogContainer>
        </div>
    </div>
    <InputContainer
            :currentUserId="currentUserId"
    ></InputContainer>
</div>