<div>
    <h3 class="text-center mt-3">Chats</h3>
    <div class="list-group-flush mt-3">
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-primary">
                <span class="text-truncate" title="AnotherDude">
                    General chat room (3)
                </span>
        </button>
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="text-truncate" title="AnotherDude">
                    SomeDude
                </span>
        </button>
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="text-truncate" title="AnotherDude">
                    AnotherDude
                </span>
            <span class="badge badge-primary badge-pill">
                    14
                </span>
        </button>
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="text-truncate" title="AnotherDude">
                    JohnDoe
                </span>
        </button>
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <span class="text-truncate" title="AnotherDude">
                    JaneDoe
                </span>
        </button>
    </div>
</div>
