<div id="input-container">
    <div class="input-group">
        <textarea
                id="message-input"
                name="message"
                class="form-control"
                aria-label="Input"
                aria-describedby="send-button"
                v-model="message"
                @keydown.enter.exact.prevent="sendMessage"
        ></textarea>
        <div class="input-group-append">
            <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="send-button"
                    @click="sendMessage()"
            >Send</button>
        </div>
    </div>
</div>